/* 
    General Styles
*/
p{
    margin: 5px;
}

.cardsInArow{
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.heartIcon{
    float: right;
    margin-top: 5px;
    border: solid yellow;
    width: 45px;
    height: 35px;
    border-radius: 5px;
    color: rgb(207, 207, 11);
}
.heartIcon:hover{
    background-color: yellow;
}
h2{
    color: red;
}
.card-image{
    width: 450px;
    height:400px;
}
.footer-character{
    display: flex;
}
.footer-captions{
    margin: auto;

}
.footer-planets{
    display: flex;
}
.footer-vehicles{
    display: flex;
}
img{
    max-width: 100%;
    height: auto ;
    aspect-ratio: 14 / 14;
}
#starwarsImage{
    height: 60px;
    width: 130px;
    margin-left: 10px;
}
.favoriteLenght{
    background-color: grey;
    padding: 4px;
    border-radius: 5px;

}
.deleteFavorite {
    display: none;
    float: right;
    border: none;
   
}

.dropdown-item:hover .deleteFavorite {
    display: inline-block;
}
.navbar{
    background-color:black;
}
body{
    background: radial-gradient(263px at 100.2% 3%, rgb(12, 85, 141) 31.1%, rgb(205, 181, 93) 36.4%, rgb(244, 102, 90) 50.9%, rgb(199, 206, 187) 60.7%, rgb(249, 140, 69) 72.5%, rgb(12, 73, 116) 72.6%);
}
  